.board {
  display: flex;
  gap: 16px;
  padding: 20px;
  background-color: #0079bf;
  min-height: 40vh;
  overflow-x: auto;
}

.card.dragged {
  border: 1px solid lightgray;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.insertion-marker {
  height: var(--card-height);
  background-color: rgba(0, 122, 204, 0.1);
  margin: 4px 0;
  pointer-events: none;
}
