.board {
  display: flex;
  gap: 16px;
  padding: 20px;
  background-color: #0079bf;
  min-height: 40vh;
  overflow-x: auto;
}

.card.dragged {
  border: 1px solid lightgray;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}
